.git
.github
.idea
.vscode
.env
.env.*
*.log

backend
docs
infrastructure/k8s
infrastructure/vps/backups

mobile/.dart_tool
mobile/build
mobile/coverage
mobile/android
mobile/ios
mobile/linux
mobile/macos
mobile/test
mobile/windows
