#splash {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #02070d;
  background-image: url('assets/assets/branding/chessverse_king_dual_splash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (orientation: portrait) {
  #splash {
    background-image: url('assets/assets/branding/splash_screen_mobile_v2.jpg');
  }
}
